<div id="componente">
  <form class="form" [formGroup]="formCrearUsuario" (ngSubmit)="crearUsuario()"> <!--(ngSubmit)="crearPersona()"-->
    <div class="formulario">
      <div class="input">
        <h1>Registro</h1>
      </div>
      <div class="input">
        <label>Nombre</label>
        <input type="text" class="fomr-control" formControlName="nombre">
        <mat-error class="alert alert-danger mt-2" [hidden]="nombre.dirty || nombre.untouched">
          El nombre es obligatorio.
        </mat-error>
      </div>
      <div class="input">
        <label>Apellidos</label>
        <input type="text" class="fomr-control" formControlName="apellidos">
        <mat-error class="alert alert-danger mt-2" [hidden]="apellidos.dirty || apellidos.untouched">
          Los apellidos son obligatorios.
        </mat-error>
      </div>
      <div class="input">
        <label>Email</label>
        <input type="email" class="fomr-control" formControlName="email">
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <mat-error *ngIf="email.errors?.['required']">El email es obligatorio.</mat-error>
          <mat-error *ngIf="email.errors?.['email']">Debe tener formato email.</mat-error>
        </div>
      </div>
      <div class="input">
        <label>Password</label>
        <input type="password" class="fomr-control" formControlName="password">
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <mat-error *ngIf="password.errors?.['required']">Password es obligatorio.</mat-error>
          <mat-error *ngIf="password.errors?.['minlength']">Debe tener al menos 6 carácteres.</mat-error>
        </div>
      </div>
      <div class="button">
        <!-- <input type="submit" value="Crear"> -->
        <button type="submit" [disabled]="formCrearUsuario.invalid">Crear</button>
      </div>
      <div style="color: red;" class="input" *ngIf="responseService && !responseService.ok">{{ responseService.msg }}</div>
      <div class="input">
        <p>¿Ya tienes una cuenta? <a href="login">Login</a></p>
      </div>
    </div>
  </form>
</div>
