<div id="componente">
  <form class="form" id="contact-form" enctype="multipart/form-data" [formGroup]="formImagen" (ngSubmit)="actualizarImagen()"> <!--(ngSubmit)="crearPersona()"-->
    <div class="formulario">

      <div class="input" formGroupName="imagenPelicula">
        <label>Imagen</label>
        <input type="file" id="file" formControlName="imagenPelicula" (change)="capturarImagen($event)">  <!--(change)="capturarImagen($event)"-->
        <img *ngIf="imagen" class="fomr-control" src="{{imagen}}">
      </div>
      <div class="button">

        <!-- <input type="submit" value="Crear"> -->
        <button type="submit" formenctype="multipart/form-data" value="Submit as Multipart/form-data">Crear</button>
      </div>
      <!-- <div class="input" *ngIf="responseService && !responseService.ok">{{ responseService.msg }}</div> -->
    </div>
  </form>
</div>

