<div id="contenedor">
  <div class="peliculas">
    <div class="elementos" *ngFor="let pelicula of peliculas">
      <h3>{{pelicula.nombre}}</h3>
      <img src="http://localhost:4001/{{pelicula.imagenPelicula}}" (click)="detalles(pelicula)">
      <!--Retirado por exceso de info-->
      <p>Calificación: {{pelicula.calificacion.calificacion}}</p>
      <div class="button">
        <button (click)="detalles(pelicula)">Detalles</button>
        <button (click)="calificar(pelicula)">Calificar</button>
        <button (click)="openDialogWithTemplate(pelicula, template1)">Calificará</button>
      </div>
    </div>
  </div>
</div>


<ng-template  #template1>
  <div class="dialog">
  <h1 mat-dialog-title>Calificación</h1>
  <div  mat-dialog-content>
    <!-- <div id="contenedor"> -->
      <form class="form" [formGroup]="formCalificacion"> <!--(ngSubmit)="calificar()"-->
        <div class="formulario">
          <!-- <div class="input">
            <h1>Calificacion</h1>
          </div> -->
          <div class="input">
            <!-- <label>Calificacion</label> -->
            <input type="number" class="fomr-control" formControlName="calificacion">
          </div>
          <!-- <div class="button">

            <button type="submit">Enviar</button>
          </div> -->

        </div>
      </form>

    <!-- </div> -->
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="calificacion()">Enviar</button>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
</ng-template>

<!-- <p>{{pelicula.director.nombre}} {{pelicula.director.apellido}}</p>
<div *ngFor="let actor of pelicula.actores">
  <p>{{actor.actor.nombre}} {{actor.actor.apellido}}</p>
</div>
<p>{{pelicula.anio}}</p>
<div *ngFor="let genero of pelicula.generos">
  <p>{{genero.genero.nombre}}</p>
</div> -->
