.mat-icon-button{
  background-color: white;
}

span{
  margin: 10px;
  color: #fef2f2;
}
label{
  margin-top: 10px;
}

.menu{
  /* background-color: red; */
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  /* text-align: center; */
  text-justify: center;
  /* margin: 10px; */
}

.spacer{
  flex: 1 1 auto;
}

/* @media (max-width: 600px) {
  .spacer {
    flex: 0 0 auto;
  }
} */

mat-toolbar{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #991b1b;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

button{
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #961b34;
  color: #fef2f2;
  font-size: 15px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

button:hover{
  background-color: #d02941;
  cursor: pointer;
  transition: 0.3s;
}

.menu{
  margin: none;
}

.dialog{
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  background-color: #470a16;
  border-radius: 7px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  color: #fef2f2;
}

.input{
  display: flex;
  flex-direction: column;
}

input{
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 3px;
  /* font-size: 15px; */
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.button{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
