<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>


    <mat-menu #menu="matMenu">
      <button class="menu" mat-menu-item *ngIf="rol" [routerLink]="['dashboardAdmin']">Peliculas Admin</button>
      <button class="menu" mat-menu-item *ngIf="rol" [routerLink]="['crearPelicula']">Crear Pelicula</button>
      <button class="menu" mat-menu-item *ngIf="rol" (click)="openDialog(director)">Director</button>
      <button class="menu" mat-menu-item *ngIf="rol" (click)="openDialog(actor)">Actor</button>


      <button class="menu" mat-menu-item *ngIf="!rol" [routerLink]="['dashboard']">Peliculas</button>
      <button class="menu" mat-menu-item *ngIf="token && !rol" [routerLink]="['reviewsUsuario']">Mis Reviews</button>
    </mat-menu>
    <span *ngIf="token; else componenteAlternativo">{{decodedToken.nombre}}</span>

    <span class="spacer"></span>

    <button *ngIf="!token" [routerLink]="['login']">Login</button>
    <button *ngIf="token" (click)="logOut()">Log Out</button>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #componenteAlternativo>
  <!-- Contenido del Componente Alternativo -->
  <span>Usuario no Logeado</span>
</ng-template>

<ng-template #director>
  <div class="dialog">
    <h1 mat-dialog-title>Director</h1>
    <div mat-dialog-content>
      <form class="form" [formGroup]="formReparto">
        <div class="formulario">
          <div class="input">
            <label>Nombre</label>
            <input type="text" class="fomr-control" formControlName="nombre">
            <div [hidden]="nombre.valid || nombre.pristine && nombre.untouched">
              El nombre es obligatorio.
            </div>
          </div>
          <div class="input">
            <label>Apellido</label>
            <input type="text" class="fomr-control" formControlName="apellido">
            <div [hidden]="apellido.valid || apellido.pristine && apellido.untouched">
              El apellido es obligatorio.
            </div>
          </div>
        </div>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close [disabled]="formReparto.invalid" (click)="crearDirector()">Enviar</button>
      <button mat-button mat-dialog-close>Cerrar</button>
    </div>
  </div>
</ng-template>

<ng-template #actor>
  <div class="dialog">
    <h1 mat-dialog-title>Actor</h1>
    <div mat-dialog-content>
      <form class="form" [formGroup]="formReparto">
        <div class="formulario">
          <div class="input">
            <label>Nombre</label>
            <input type="text" class="fomr-control" formControlName="nombre">
            <div [hidden]="nombre.valid || nombre.pristine && nombre.untouched">
              El nombre es obligatorio.
            </div>
          </div>
          <div class="input">
            <label>Apellido</label>
            <input type="text" class="fomr-control" formControlName="apellido">
            <div [hidden]="apellido.valid || apellido.pristine && apellido.untouched">
              El apellido es obligatorio.
            </div>
          </div>
        </div>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close [disabled]="formReparto.invalid" (click)="crearActor()">Enviar</button>
      <button mat-button mat-dialog-close>Cerrar</button>
    </div>
  </div>
</ng-template>
