<!-- <ng-container  #actualizarReview> -->
<div class="dialog">
  <h1>{{data.reviewData.pelicula.nombre}}</h1>
  <img id="imgDialog" src="{{environment}}{{data.reviewData.pelicula.imagenPelicula}}">
  <h3 mat-dialog-title>Calificación</h3>
  <div mat-dialog-content>
    <form class="form" [formGroup]="formActualizarReview"> <!--(ngSubmit)="calificar()"-->
      <div class="formulario">
        <div class="input">
          <input type="number" id="calificacion" class="fomr-control" formControlName="calificacion" required min="0" max="5">
          <div *ngIf="calificacion.invalid && (calificacion.dirty || calificacion.touched)">
            <mat-error *ngIf="calificacion.errors?.['required']">La calificación es obligatoria.</mat-error>
            <mat-error *ngIf="calificacion.errors?.['min']">La calificación debe ser mayor o igual a 0.</mat-error>
            <mat-error *ngIf="calificacion.errors?.['max']">La calificación debe ser menor o igual a 5.</mat-error>
          </div>
          <!-- <div class="alert alert-danger mt-2" [hidden]="calificacion.valid || calificacion.pristine && calificacion.untouched">
              La calificación es obligatoria.
            </div> -->
        </div>
      </div>
    </form>
  </div>
  <div class="button" mat-dialog-actions>
    <button mat-button mat-dialog-close [disabled]="formActualizarReview.invalid"
      (click)="actualizarReview()">Actualizar</button>
    <button mat-button mat-dialog-close>Cerrar</button>
  </div>
</div>
<!-- </ng-container> -->
