<div id="componente">
  <form class="form" id="contact-form" enctype="multipart/form-data" [formGroup]="formActualizarPelicula"
    (ngSubmit)="actualizarPelicula()"> <!--(ngSubmit)="crearPersona()"-->
    <div class="formulario">
      <div class="input">
        <h1>Actualizar Pelicula</h1>
      </div>
      <div class="input">
        <label for="dsnombre" class="form-label">Nombre</label>
        <input type="text" class="fomr-control" id="nombre" formControlName="nombre">
        <mat-error class="alert alert-danger mt-2" [hidden]="nombre.valid || nombre.pristine && nombre.untouched">
          El nombre es obligatorio.
        </mat-error>
      </div>
      <div class="input">
        <!-- <mat-form-field> -->
        <label>Director</label>
        <mat-select [(value)]="selectedDirector"
          formControlName="director"><!--[(value)]="selectedOption"al selecionar una opcion manda el valor a la variable selectedOption-->
          <mat-select-filter (input)="filterDirectores($event)"></mat-select-filter>
          <mat-option *ngFor="let director of filteredDirectores" [value]="director._id">
            {{director.nombre}} {{director.apellido}}
          </mat-option>
        </mat-select>
        <mat-error [hidden]="director_id.valid || director_id.pristine && director_id.untouched">
          El Director es obligatorio.
        </mat-error>
      </div>
      <div>

        <div class="input" formGroupName="actores">
          <!-- <mat-form-field> -->
          <label>Actores</label>
          <mat-select [(value)]="selectedActores" formControlName="actor"
            multiple><!--[(value)]="selectedOption"al selecionar una opcion manda el valor a la variable selectedOption-->
            <mat-select-filter (input)="filterActores($event)"></mat-select-filter>
            <mat-option *ngFor="let actor of filteredActores" [value]="actor._id">
              {{actor.nombre}} {{actor.apellido}}
            </mat-option>
          </mat-select>
          <mat-error [hidden]="actor_id.valid || actor_id.pristine && actor_id.untouched">
            Elegir Actor es obligatorio.
          </mat-error>
        </div>


      </div>
      <div class="input">
        <label>Año</label>
        <input type="date" class="fomr-control" formControlName="anio">
        <mat-error [hidden]="anio.valid || anio.pristine && anio.untouched">
          Fecha de estreno es obligatoria.
        </mat-error>
      </div>

      <div class="input" formGroupName="generos">
        <!-- <mat-form-field> -->
        <label>Generos</label>
        <mat-select [(value)]="selectedGeneros" formControlName="genero"
          multiple><!--[(value)]="selectedOption"al selecionar una opcion manda el valor a la variable selectedOption-->
          <mat-select-filter (input)="filterGeneros($event)"></mat-select-filter>
          <mat-option *ngFor="let genero of filteredGeneros" [value]="genero._id">
            {{genero.nombre}}
          </mat-option>
        </mat-select>
        <mat-error [hidden]="genero.valid || genero.pristine && genero.untouched">
          Elegir Genero es obligatorio.
        </mat-error>
      </div>
      <div class="button">

        <!-- <input type="submit" value="Crear"> -->
        <button type="submit" [disabled]="formActualizarPelicula.invalid" formenctype="multipart/form-data"
          value="Submit as Multipart/form-data">Actualizar</button>
          <button type="button" (click)="volver()">Volver</button><!--[routerLink]="['peliculaAdmin']"-->
      </div>
      <!-- <div class="input" *ngIf="responseService && !responseService.ok">{{ responseService.msg }}</div> -->
    </div>
  </form>
</div>
