<div id="contenedor">
  <div class="peliculas">
    <div class="elementos" *ngFor="let pelicula of peliculas">
      <h1>{{pelicula.nombre}}</h1>
      <img src="http://localhost:4001/{{pelicula.imagenPelicula}}" (click)="actualizar(pelicula)">
      <!--Retirado por exceso de info-->
      <!-- <p>Calificación: {{pelicula.calificacion.calificacion}}</p> -->
      <!-- <div class="button"> -->
        <!-- <button (click)="actualizar(pelicula)">Actualizar</button> -->
        <!-- <button>Calificar</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>
