<div id="contenedor">
  <div class="pelicula">
    <div class="elementos">
      <h1>{{pelicula.nombre}}</h1>
      <img *ngIf="pelicula.imagenPelicula" src="{{environment}}{{pelicula.imagenPelicula}}" (click)="actualizarImagen()">
      <img *ngIf="!pelicula.imagenPelicula" src="{{imagen}}" (click)="actualizarImagen()">
    </div>
    <div>
      <div class="elementos">
        <h3>Director</h3>
        <p>{{pelicula.director.nombre}} {{pelicula.director.apellido}}</p>
      </div>
      <div class="elementos">
      <h3>Reparto</h3>
      <div class="elementos" *ngFor="let actor of pelicula.actores">
        <p>{{actor.actor.nombre}} {{actor.actor.apellido}}</p>
      </div>

      </div>
      <div class="elementos">
        <h3>Fecha estreno</h3>
        <p>{{pelicula.anio | date:'yyyy-MM-dd'}}</p>
      </div>
      <div class="elementos">
      <h3>Generos</h3>
      </div>

      <div class="elementos" *ngFor="let genero of pelicula.generos">
        <p>{{genero.genero.nombre}}</p>
      </div>
      <div class="elementos">
        <h3>Calificación</h3>
        <p>{{pelicula.calificacion.calificacion}}</p>
      </div>
      <div class="button">
        <button (click)="actualizarImagen()">Actualizar Imagen</button>
        <button (click)="actualizarPelicula()">Actualizar Pelicula</button>
        <button type="button" (click)="volver()">Volver</button><!--[routerLink]="['peliculaAdmin']"-->
      </div>
    </div>
  </div>
</div>
