<ng-container *ngTemplateOutlet="data.template"></ng-container>

<!-- <div id="contenedor">
  <form class="form" [formGroup]="formCalificacion" (ngSubmit)="calificar()">
    <div class="formulario">
      <div class="input">
        <h1>Calificacion</h1>
      </div>
      <div class="input">
        <label>Calificacion</label>
        <input type="calificacion" class="fomr-control" formControlName="calificacion">
      </div>
      <div class="button">

        <button type="submit">Enviar</button>
      </div>

    </div>
  </form>

</div> -->
